main {
  font-family: var(--font-text);
  color: var(--text-primary);
}

.main-container {
  background-color: var(--background-color);
  margin: 20px 30px 20px 30px;
  padding: 30px;
}

.logo {
  background-color: var(--primary-color);
  color: var(--white);
  width: 50%;
  height: 20vh;
  border-top-left-radius: 30px;

  img {
    width: 50%;
    object-fit: contain;
  }
}

.controllers {
  width: 60%;
  height: 20vh;
  border-top-right-radius: 30px;
  background-color: var(--primary-color);
}

.checklist {
  background-color: var(--white);
  width: 50%;
  padding: 10px;
  color: var(--primary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-family: var(--font-title);
  z-index: 999;
  text-transform: uppercase;
}

.instructions {
  color: var(--text-primary);
  background-color: var(--background-color);
  padding: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.instructions-title {
  color: var(--primary-color);
  text-transform: uppercase;
}

b {
  font-family: var(--font-title);
  font-size: 13px;
}

.instructions-status {
  background-color: var(--warning-primary);
  width: 1%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.instructions-cards {
  background-color: var(--white);
}

.group-name {
  font-family: var(--font-title);
  font-size: 20px;
  text-transform: uppercase;

  color: var(--primary-color);
}

.card-status-warning {
  background-color: var(--warning-primary);
  width: 100%;
  height: 1vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-status-success {
  background-color: var(--success);
  width: 100%;
  height: 1vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.width-card {
  width: 95%;
}

.tasks {
  background-color: var(--background-color);
}

.attach {
  color: var(--warning-primary);
}

.cursor-pointer {
  cursor: pointer;
}

.task-complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.parent {
  position: relative;
}

.child {
  background-color: var(--white);
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 15px;
  width: 150px;
  z-index: 999;
}
