<div class="main-container rounded-9">
  <main class="rounded-8 d-flex flex-column">
    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo d-flex flex-column">
        <img
          src="../../assets/Cornerstone White Logo.png"
          alt="logo-cornerstone"
        />

        <div
          class="text-center align-self-center checklist d-flex justify-content-center align-itens-center gap-3"
        >
          <i class="fa-solid fa-check text-success mt-1"></i>
          <span>This is your Checklist</span>
        </div>
      </div>

      <!-- CONTROLLERS -->
      <div class="controllers text-white">controllers</div>
    </div>

    <!-- INSTRUCTIONS AND CARDS SECTIONS -->
    <div
      class="instructions-cards w-100 d-flex flex-column justify-content-center align-items-center"
    >
      <!-- INSTRUCTIONS -->
      <section class="mt-5 d-flex flex-row justify-content-center w-100">
        <div class="instructions-status"></div>

        <div class="instructions p-2">
          <b class="ms-1 instructions-title">
            Hover over the icons to read information. Click on them to:</b
          >

          <div class="d-flex flex-row gap-5 ms-1 mt-2 flex-wrap">
            <div *ngFor="let data of instructions">
              <div>
                <i
                  [style]="data.color"
                  class="me-1 fs-5"
                  [class]="'fa-solid fa-' + data.icon"
                ></i>

                <span>{{ data.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- TASKS CARDS -->
      <section
        class="mt-4 mb-4 d-flex flex-column gap-3 flex-wrap w-100 justify-content-center align-items-center"
      >
        <div
          class="width-card text-center p-2"
          *ngFor="let group of checkList | keyvalue; let i = index"
        >
          <div [ngClass]="allTasksComplete(group.value)"></div>

          <div class="border">
            <div class="group-name fw-bold">{{ group.key }}</div>

            <div *ngFor="let task of group.value" class="tasks hover-shadow">
              <div
                class="d-flex justify-content-start align-items-start gap-2 mt-3 p-2"
              >
                <div class="form-check mt-1">
                  <input
                    [ngClass]="task.complete ? 'bg-success' : ''"
                    mdbCheckbox
                    class="form-check-input border-0"
                    type="checkbox"
                    [value]="task.id"
                    id="flexCheckDefault"
                    (change)="completeTask(group.key, task.id)"
                  />
                </div>

                <span
                  [ngClass]="task.complete ? 'task-complete' : ''"
                  class="w-75 text-start fs-5"
                  >{{ task.description }}</span
                >

                <!-- CARDS ICONS -->
                <div class="mt-1 d-flex gap-5 fs-5 ms-2 align-end">
                  <!-- FILE UPLOAD -->
                  <i
                    *ngIf="task.file && !task.openFile"
                    class="fa-solid fa-paperclip attach cursor-pointer parent"
                    (click)="openCloseField(group.key, task.id, 'file')"
                    (mouseover)="showFileName(group.key, task.id, 'open')"
                    (mouseout)="showFileName(group.key, task.id, 'close')"
                  >
                    <div *ngIf="task.showFile" class="child border rounded">
                      <span>{{ task.fileName }}</span>
                    </div>
                  </i>

                  <div
                    *ngIf="task.openFile"
                    class="d-flex justify-content-between align-items-center gap-1"
                  >
                    <app-file
                      [key]="this.category"
                      [taskId]="this.taskId"
                      (fileData)="setFileName($event)"
                    ></app-file>

                    <i
                      (click)="openCloseField(group.key, task.id, 'file')"
                      class="fa-solid fa-xmark fs-6 cursor-pointer"
                    ></i>
                  </div>
                  <!-- FILE UPLOAD -->

                  <!-- COMMENT -->
                  <i
                    *ngIf="!task.openComment"
                    class="fa-solid fa-comment text-info cursor-pointer parent"
                    (click)="openCloseField(group.key, task.id, 'comment')"
                    (mouseover)="showComment(group.key, task.id, 'open')"
                    (mouseout)="showComment(group.key, task.id, 'close')"
                  >
                    <div *ngIf="task.showComment" class="child border rounded">
                      <span>{{ task.comment }}</span>
                    </div>
                  </i>

                  <div
                    *ngIf="task.openComment"
                    class="d-flex justify-content-between align-items-center gap-1"
                  >
                    <app-comment
                      [key]="this.category"
                      [taskId]="this.taskId"
                      (commentData)="setComment($event)"
                    ></app-comment>

                    <i
                      (click)="openCloseField(group.key, task.id, 'comment')"
                      class="fa-solid fa-xmark fs-6 cursor-pointer"
                    ></i>
                  </div>
                  <!-- COMMENT -->

                  <!-- ASSIGNEE -->
                  <i
                    *ngIf="task.Action && !task.openAssignee"
                    class="fa-solid fa-person text-primary cursor-pointer parent w-50"
                    (click)="openCloseField(group.key, task.id, 'assignee')"
                    (mouseover)="showAssignee(group.key, task.id, 'open')"
                    (mouseout)="showAssignee(group.key, task.id, 'close')"
                  >
                    <div *ngIf="task.showAssignee" class="child border rounded">
                      <span>{{ task.assignee }}</span>
                    </div>
                  </i>

                  <div
                    *ngIf="task.openAssignee"
                    class="d-flex justify-content-between align-items-center gap-1"
                  >
                    <app-assignee
                      [key]="this.category"
                      [taskId]="this.taskId"
                      (responsibleData)="setAssignee($event)"
                    ></app-assignee>

                    <i
                      (click)="openCloseField(group.key, task.id, 'assignee')"
                      class="fa-solid fa-xmark fs-6 cursor-pointer"
                    ></i>
                  </div>
                  <!-- ASSIGNEE -->

                  <!-- TASK COMPLETE ICON -->
                  <i
                    *ngIf="task.complete"
                    class="fa-solid fa-square-check text-success"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
