/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #123662;
  --secondary-color: #44648d;
  --tertiary-color: #98c1d9;
  --background-color: #e2f3f7;
  --warning-primary: #e3782c;
  --warning-secondary: #eea423;
  --text-primary: #666666;
  --white: #ffffff;
  --font-title: Montserrat, sans-serif;
  --font-text: Open sans, sans-serif;
}
